In [13]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

ImportError: cannot import name 'RandomForestRegressor' from 'sklearn.tree' (C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\tree\__init__.py)

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
X_train

array([[-1.53963418,  0.11036616, -0.90788827, -0.98885138, -0.49929923],
       [ 0.74809711,  0.26412451, -0.0755796 ,  1.01127431,  2.00280702],
       [ 0.4621307 ,  2.13997636,  1.58903774,  1.01127431, -0.49929923],
       ...,
       [ 0.03318108, -0.90443894, -0.90788827,  1.01127431, -0.49929923],
       [-1.46814257,  0.7869029 , -0.90788827,  1.01127431, -0.49929923],
       [-0.46726014, -1.96941782, -0.0755796 , -0.98885138, -0.49929923]])

In [11]:
X_test

array([[ 0.89108031, -0.07576237, -0.0755796 ,  1.01127431, -0.49929923],
       [ 0.5336223 , -0.21009861, -0.0755796 , -0.98885138, -0.49929923],
       [ 0.6051139 ,  1.60182214,  0.75672907,  1.01127431,  2.00280702],
       ...,
       [-1.46814257,  0.65256665,  0.75672907, -0.98885138,  2.00280702],
       [-0.82471815,  0.37742013,  1.58903774,  1.01127431, -0.49929923],
       [ 0.89108031,  1.24817794,  0.75672907, -0.98885138, -0.49929923]])

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(X_train, y_train)

C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  13 out of  36 | elapsed:    1.9s remaining:    3.5s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    6.4s finished
C:\Users\SRIRAM\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [22]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test)
# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}: 0.8731540488303856

In [23]:
table=pd.DataFrame.from_dict(re)

In [24]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.727389,0.549689,0.002327,4.700217e-04,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.772923,0.790494,0.790603,0.784660,0.008313,7
1,1.485030,0.848742,0.009642,9.410549e-04,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.786516,0.800727,0.798997,0.795404,0.006334,5
2,0.371340,0.274194,0.002328,4.692923e-04,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.795883,0.762302,0.772980,0.777076,0.014015,10
3,1.960760,1.641754,0.030914,1.862564e-02,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.807232,0.798475,0.799536,0.801754,0.003904,2
4,0.055518,0.006926,0.008644,8.707453e-03,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.754892,0.780279,0.785363,0.773490,0.013336,12
5,0.270610,0.012624,0.010306,9.400433e-04,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.806755,0.811399,0.797359,0.805173,0.005837,1
6,0.208443,0.026475,0.002328,4.699655e-04,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.759730,0.785858,0.783093,0.776208,0.011726,11
7,2.145265,0.127443,0.009309,4.700779e-04,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.785844,0.788300,0.794765,0.789632,0.003762,6
8,0.155584,0.019963,0.002992,8.141014e-04,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.782698,0.788482,0.774151,0.781778,0.005883,8
9,1.138290,0.224021,0.020612,4.908354e-03,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.804008,0.801767,0.795562,0.800449,0.003572,3
10,0.155584,0.024953,0.002992,1.123916e-07,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.772246,0.788879,0.770385,0.777165,0.008311,9
11,0.893611,0.168170,0.012301,2.487376e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.805148,0.803220,0.792267,0.800217,0.005672,4

In [25]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:29
BMI:25
Children:0
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [26]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[47347.9961748]